.DragDrop-container {
    border: 2px dashed #ccc; /* Add border */
    padding: 20px; /* Add padding for spacing */
    display: inline-block; /* Display as inline block */
  }
  
  .DragDrop-input {
    display: none; /* Hide the input */
  }
  